@model theCoffeeHouse.Models.HoaDon

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/AdminLayout.cshtml";
}
<style>
    table {
        text-align: center;
        border-top: 1px solid black;
    }

        table td {
            text-align: center;
            vertical-align: middle;
        }
</style>
<h2>Xóa</h2>

<h3>Bạn có chắc muốn xóa hóa đơn này không?</h3>
<div>
    <h4>Thông tin hóa đơn</h4>

    <table class="table">
        <tr>
            <td>Mã Đơn Hàng</td>
            <td>@Html.DisplayFor(model => model.maHoaDon)</td>
        </tr>
        <tr>
            <td>Mã Khách Hàng</td>
            <td>@Html.DisplayFor(model => model.maKhachHang)</td>
        </tr>
        <tr>
            <td>Tên Đăng Nhập</td>
            <td>@Html.DisplayFor(model => model.ThongTinKhachHang.tenDangNhap)</td>
        </tr>
        <tr>
            <td>Thời Gian</td>
            <td>@Html.DisplayFor(model => model.ngayBan)</td>
        </tr>
        <tr>
            <td>Tổng Số Lượng</td>
            <td>@Html.DisplayFor(model => model.tongSoLuong)</td>
        </tr>
        <tr>
            <td>Giảm Giá</td>
            <td>@Html.DisplayFor(model => model.giamGia)</td>
        </tr>
        <tr>
            <td>Thành Tiền</td>
            <td>@Html.DisplayFor(model => model.thanhTien)</td>
        </tr>
        <tr>
            <td>Thanh Toán</td>
            <td>@Html.DisplayFor(model => model.hinhThucThanhToan)</td>
        </tr>
    </table>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Xóa" class="btn btn-default" /> |
            @Html.ActionLink("Trở về", "Index")
        </div>
    }
</div>
