@model theCoffeeHouse.Models.KhoHang

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/AdminLayout.cshtml";
}

<h2>Chi tiết</h2>


<style>

    table {
        text-align: center;
        border-top: 1px solid black;
    }
</style>


<div>
    <h4>Sản phẩm</h4>
    <table class="table">
        <tr>
            <td>Mã Sản Phẩm</td>
            <td>@Html.DisplayFor(model => model.SanPham.maSanPham)</td>
        </tr>
        <tr>
            <td>Tên Sản Phẩm</td>
            <td>@Html.DisplayFor(model => model.tenSanPham)</td>
        </tr>
        <tr>
            <td>Số Lượng Tồn</td>
            <td>            @Html.DisplayFor(model => model.soLuongTon)</td>
        </tr>
        <tr>
            <td>Giá Nhập</td>
            <td>@Html.DisplayFor(model => model.giaNhap)</td>
        </tr>
        <tr>
            <td>Ghi Chú</td>
            <td>@Html.DisplayFor(model => model.ghiChu)</td>
        </tr>

    </table>
</div>
<p>
    @Html.ActionLink("Chỉnh sửa", "Edit", new { id = Model.maSanPham }) |
    @Html.ActionLink("Quay về", "Index")
</p>
