@model PagedList.IPagedList<theCoffeeHouse.Models.TinTuc>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{ ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/AdminLayout.cshtml"; }
<style>

    table {
        text-align: center;
    }
</style>
<h2>Danh sách tin tức</h2>

<p>
    @Html.ActionLink("Tạo mới", "Create")
</p>
<br />
@using (Html.BeginForm())
{
<p>
    Tìm tin tức: @Html.TextBox("searchString", ViewBag.CurrentFilter as string)
    <input type="submit" value="Tìm" />
</p>}
<table class="table">
    <tr>
        <th width="420px">
            @Html.ActionLink("Tiêu đề", "Index", new { sortOrder = ViewBag.SapXepTen, currentFilter = ViewBag.CurrentFilter })
        </th>

        <th>
            Hình Ảnh
        </th>
        <th>
            Ngày Đăng
        </th>
        <th>Chức Năng</th>
    </tr>

    @foreach (var item in Model)
    {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.tieuDe)
    </td>

    <td>
        @{ String ImagePath = "~/images/" + item.hinhAnh; }
        <img src="@Url.Content(ImagePath)" width="250" height="120" class="img-thumbnail" />
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.ngayDang)
    </td>
    <td>
        <a href="@Url.Action("Edit", "TinTucs", new { id = item.maTinTuc })"><i class="mdi mdi-wrench-outline"></i></a>
        <a href="@Url.Action("Details", "TinTucs", new { id = item.maTinTuc })"><i class="mdi mdi-open-in-new"></i></a>
        <a href="@Url.Action("Delete", "TinTucs", new { id = item.maTinTuc })"><i class="mdi mdi-delete-outline"></i></a>
    </td>
</tr>}

</table>
<br />
Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount
@Html.PagedListPager(Model, page => Url.Action("Index", new
{
    page,
    sortOrder = ViewBag.CurrentSort,
    currentFilter = ViewBag.CurrentFilter
}))
