
@{
    ViewBag.Title = "SearchProduct";
    Layout = "~/Views/Shared/MainLayout.cshtml";
}

@{

    var ListProduct = ViewBag.Products as IEnumerable<theCoffeeHouse.Models.SanPham>;

}
<div class="main-product">
    @*<div class="nav-main">
            <!-- Tab Nav -->
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                @foreach (var item in ListCategoryProduct)
                {
                    <li class="nav-item" style="margin-bottom: -1px;">
                        <a class="nav-link" href="@Url.Action("Index", "Product", new { id = item.maLoai})">@item.loaiSanPham1</a>
                    </li>
                }
            </ul>
            <!--/ End Tab Nav -->
        </div>*@
    <div class="product-area section">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-title">
                        <h2>MENU</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="product-info">
                        <div class="tab-content" id="myTabContent">
                            <!-- Start Single Tab -->
                            <div class="tab-pane fade show active" id="man" role="tabpanel">
                                <div class="tab-single">
                                    <div class="row">
                                        @foreach (var item in ListProduct)
                                        {
                                            <div class="col-xl-3 col-lg-4 col-md-4 col-12">
                                                <div class="single-product">
                                                    <div class="product-img">
                                                        <a href="@Url.Action("Detail", "Product", new { id = item.maSanPham})">
                                                            <img class="default-img"
                                                                 src="~/images/@item.hinhAnh" alt="">
                                                        </a>
                                                        <div class="button-head">
                                                            <div class="product-action">
                                                                <a title="Compare" href="@Url.Action("QuickAddItem", "Cart", new { productId = item.maSanPham , quantity = 1 })">
                                                                    <i class="fa fa-shopping-cart"></i><span>
                                                                        Thêm Vào Giỏ
                                                                    </span>
                                                                </a>
                                                                <a title="Wishlist" href="#">
                                                                    <i class="fa fa-heart"></i><span>
                                                                        Yêu Thích
                                                                    </span>
                                                                </a>
                                                            </div>
                                                            <div class="product-action-2">
                                                                <a title="Add to cart" href="@Url.Action("AddItem", "Cart", new { productId = item.maSanPham , quantity = 1 })">MUA NGAY</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="product-content">
                                                        <h3><a href="product-details.html">@item.tenSanPham</a></h3>
                                                        <div class="product-price">
                                                            <span>@item.donGia</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        }

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



